.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f5f7;
  position: relative;
}

.left img {
  max-width: 100%;
  height: 100vh;
  object-fit: cover;
}

.left p {
  font-size: 2.4rem;
  margin: 0;
  position: absolute;
  top: 2rem;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.form_size {
  display: flex;
  flex-direction: column;
  width: 28.5rem;
  justify-content: center;
  gap: 2rem;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  margin: 0 auto;
  gap: 2rem;
  padding: 0rem 1rem;
}
.right p {
  font-size: 2.5rem;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 28.5rem;
}
.submit_btn {
  display: flex;
  padding: 0.625rem 2.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  background: #141718;
  color: #fff;
  width: 100%;
}
input::placeholder {
  font-size: 1rem;
}
.grey {
  color: #6c7275;
}
.right .green:nth-child(2) {
  color: #38cb89;
}
.border_bottom {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #e8ecef;
  padding-bottom: 0.375rem;
}
.check_input {
  width: 1.3rem;
  height: 1.3rem;
  flex-shrink: 0;
}
.check_flex {
  display: flex;
  justify-content: space-between;
}
.check_flex_align {
  display: flex;
  align-items: center;
}
.error {
  color: red;
  font-size: 0.75rem;
}
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }

  .left p {
    font-size: 1.5rem;
  }

  .left img {
    height: 50vh;
  }

  .form_size {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 19.4375rem;
    padding: 2rem 1rem;
    gap: 2rem;
  }

  .check_flex b {
    font-size: 0.75rem;
  }
}
