.content {
  padding: 2rem 130px 2rem 130px;
}
.cart_title {
  display: flex;
  justify-content: center;
  color: #000;
  font-size: 3.375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.625rem;
  letter-spacing: -0.0625rem;
  padding-bottom: 2.5rem;
}
.cart_steps {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}
.cart_ball {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.cart_ball_step1 {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  padding-bottom: 1.62rem;
  border-bottom: 2px solid #141718;
}
.cart_ball_step1 span:nth-child(1) {
  padding: 0.8rem 1.0625rem;
  gap: 0.625rem;
  border-radius: 2.5rem;
  background: #23262f;
  color: #fff;
}
.cart_ball span:nth-child(1) {
  padding: 0.8rem 1.0625rem;
  gap: 0.625rem;
  border-radius: 2.5rem;
  background: #b1b5c3;
  color: #fff;
}

.cart_products_grid {
  padding: 4rem 0rem;
  display: grid;
  grid-template-columns: 1.6fr 1fr;
  gap: 0px 2rem;
}

.cart_products_header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  border-bottom: 1px solid #6c7275;
  padding-bottom: 1.5rem;
}
.cart_products_header_flex {
  display: flex;
  gap: 2rem;
}
.cart_empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  height: 15rem;
  font-size: 1rem;
  font-weight: bold;
  color: #b1b5c3;
  text-align: center;
}
@media (max-width: 1000px) {
  .cart_products_grid {
    padding: 4rem 0rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0rem 2rem;
  }
}
@media (max-width: 860px) {
  .content {
    padding: 1rem 80px 1rem 80px;
  }

  .cart_products_header_flex p:nth-child(3) {
    display: none;
  }
  .cart_ball:nth-child(3) {
    display: none;
  }
  .cart_ball_step1 {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #141718;
  }
}
@media (max-width: 768px) {
  .content {
    padding: 1rem 15px 1rem 15px;
  }
}
