.content {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 1rem 130px 2rem 130px;
}
.page_location {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  color: #605f5f;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
}
.page_location_bolder {
  color: #121212;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
}
.contact_title {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 52.125rem;
}
.contact_title p:nth-child(1) {
  color: #141718;
  font-size: 3.375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 3.625rem;
  letter-spacing: -0.0625rem;
}

.contact_title p:nth-child(2) {
  color: #141718;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}

.contact_about {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact_about_left img {
  width: 100%;
}
.contact_about_right {
  position: relative;
  background: #f3f5f7;
}
.contact_about_right_text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contact_about_right_text p:nth-child(1) {
  color: #121212;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
}
.contact_about_right_text_small p:nth-child(1) {
  color: #343839;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
}
.contact_about_right_text_small p:nth-child(2) {
  color: #343839;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
}
.contact_about_right_text_linkshop {
  color: #121212;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.75rem; /* 175% */
  letter-spacing: -0.025rem;
}
.contact_about_right_text_linkshop_border {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.contact_sec_title {
  display: flex;
  justify-content: center;
  color: #121212;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 2.75rem;
  letter-spacing: -0.025rem;
  padding-bottom: 2.5rem;
}
.contact_sec_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}
.contact_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem 2rem;
  gap: 1rem;
  background: #f3f5f7;
}
.contact_card p:nth-child(2) {
  color: #6c7275;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1rem; /* 100% */
  text-transform: uppercase;
}

.contact_form_map {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.contact_form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.contact_form_label_gap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contact_form label {
  color: #6c7275;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 0.75rem; /* 100% */
  text-transform: uppercase;
}
.input_name_email {
  display: flex;
  height: 2.5rem;
  padding: 0rem 1rem;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;
  border-radius: 0.375rem;
  border: 1px solid #cbcbcb;
  background: #fff;
}
.input_message {
  display: flex;
  height: 8.75rem;
  padding: 1rem;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
  outline: none;
  border-radius: 0.375rem;
  border: 1px solid var(--Black-300, #cbcbcb);
  background: var(--White, #fff);
}
.contact_map {
  position: relative;
}

.contact_form,
.contact_map {
  height: 100%; /* Make both children fill the height of the parent */
}
.contact_map img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contact_map_location {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.input_submit {
  display: flex;
  padding: 0.375rem 2.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  background: #141718;
  color: #fff;
  max-width: 11rem;
}

.values_background_color {
  background: #f3f5f7;
}
.successPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.successMessage {
  background-color: #5cb85c;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  font-size: 1.2rem;
  text-align: center;
}

@media (max-width: 860px) {
  .content {
    padding: 1rem 80px 2rem 80px;
    gap: 2rem;
  }
}

@media (max-width: 768px) {
  .content {
    padding: 1rem 32px 2rem 32px;
  }

  .contact_title p:nth-child(1) {
    color: #141718;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.125rem;
    letter-spacing: -0.0375rem;
  }

  .contact_about {
    display: grid;
    grid-template-columns: 1fr;
  }

  .contact_about_right_text {
    position: relative;
    display: flex;
    min-height: 19.4375rem;
    padding: 0rem 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
  }
  .contact_about_right_text p:nth-child(1) {
    color: #121212;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
  }
  .contact_about_right_text_small p:nth-child(1) {
    color: #343839;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem;
  }
  .contact_about_right_text_small p:nth-child(2) {
    color: #343839;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem;
  }
  .contact_sec_grid {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .contact_form_map {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  .contact_form {
    gap: 1rem;
    order: 2;
  }

  .contact_map {
    order: 1;
  }
}
