.content {
  display: flex;
  flex-direction: column;
}
.title_flex {
  display: flex;
  justify-content: space-between;
  color: #000;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 2.75rem;
  letter-spacing: -0.025rem;
  padding-right: 130px;
}
.arrow {
  display: flex;
  align-items: flex-end;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.75rem;
  letter-spacing: -0.025rem;
  border-bottom: 1px solid #141718;
}
.products_container {
  display: flex;
  gap: 1.5rem;
  padding: 3rem 0rem;
  overflow: scroll;
}
.products_container::-webkit-scrollbar {
  display: none;
}
.products_container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media (max-width: 860px) {
  .title_flex {
    padding-right: 80px;
  }
}
@media (max-width: 768px) {
  .title_flex {
    padding-right: 32px;
  }
}
